@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Raleway:wght@300&family=Young+Serif&display=swap');


/* tailwind preprocessor */
@tailwind base;
@tailwind components;
@tailwind utilities;

.layout{
  justify-content: center;
  max-width: 100rem;
  margin-inline: auto;
}
